.signin-page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/Images/jpg/fond_etoile_fonce.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.signin-page > div {
  display: flex;
  align-items: center;
}

.signin-page form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 500px;
  color: black;
  /* margin: 0 auto; */
}

.signin-page input {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signin-page button {
  width: 50%;
  color: white;
}

.signin-page a {
  color: var(--bleu);
  text-decoration: none;
}

.signin-page a:hover {
  color: var(--orange);
}

.signin-page h2 {
  font-size: 55px;
}