/* @font-face {
  font-family: 'Musician';
  src: url('/fonts/Musician.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'FascinateInline';
  src: url('/fonts/FascinateInline-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}