.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bleu);
    color: white;
    padding: 50px 100px;
    height: 120px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 100px;
}

.navigation {
    display: flex;
    gap: 30px;
    font-size: 25px;
}

.logo img {
    height: 70px;
}

.profile {
    height: 30px;
    cursor: pointer;
    z-index: 1;
}

.tige {
    height: 350px;
    position: absolute;
    right: 45;
    top: -55;
    pointer-events: none;
}


/*Vague fait à l'aide de Shape Divider App*/
.custom-shape-divider-top-1774999941 {
    position: absolute;
    top: 115;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1774999941 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 75px;
}

.custom-shape-divider-top-1774999941 .shape-fill {
    fill: var(--bleu);
}