.instructions {
    background-image: url(/Images/jpg/image_venyl.jpg);
    background-repeat: no-repeat;
    /* background-position: bottom; */
    background-size: cover;
    height: 400px;

    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 70px;
}

.titre {
    font-size: 60px;
}

.alexandrin {
    width: 65%;
}